<h1>Listado de Carritos</h1>

<section>
  {{#each carts}}
    <article>
      <p>Id del Carrito: {{this._id}}</p>
      {{#each this.products}}
        <p>{{this.product.title}}</p>
        <p>{{this.product.description}}</p>
        <p>$ {{this.product.price}}</p><!-- Agrega más propiedades del producto según tus necesidades -->
      {{/each}}
    </article>
  {{/each}}
</section>

