
<header>
    <nav>
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/carts">Carts</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/realtimeproducts">R.T.P</a></li>
        </ul>
    </nav>
</header>

<h1>Bienvenido</h1>





















<script src="/js/index.js"></script>