<section>
    <h1>Ahora Loguéate!</h1>

    <form id="login_form">
        
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email">
        
        <label for="pass">Password:</label>
        <input type="password" name="password" id="pass">

        <input type="submit">

    </form>
</section>



<script src="/js/login.js"></script>