<section>
    <h1>Ahora Loguéate!</h1>

    <form id="login_form">
        
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email">
        
        <label for="pass">Password:</label>
        <input type="password" name="password" id="pass">

        <input type="submit">

    </form>

    <p>También puedes ingresar por :)</p>

<a href="/api/session/github"><button>Github :)</button></a>

<p>¿Olvidaste tu Contraseña? <span><a href="/restorePassword">Restablecela desde acá!</a></span></p>

</section>



<script src="/js/login.js"></script>