<h1 id="h1">Productos almacenados</h1>
<ul>
    {{#each prod}}
    <li class="cart_container">
        <article class="card">
            <h4>{{this.title}}</h4>
            <p>
                {{this.description}}
            </p>
            <p>$ {{this.price}}</p>
            <button class="add_btn" onclick="saludo('{{this.price}}')">Agregar al carrito</button>
        </article>
    </li>
    {{/each}}
</ul>




<script src="/js/products.js"></script>