<section>

    <h1>Regístrate!</h1>

    <form id="register_form">

        <label for="first_name">Nombre:</label>
        <input type="text" name="first_name" id="first_name">
        
        <label for="last_name">Apellido:</label>
        <input type="text" name="last_name" id="last_name">
        
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email">
        
        <label for="pass">Password:</label>
        <input type="password" name="password" id="pass">

        <input type="submit">

    </form>
</section>



<script src="/js/register.js"></script>