<section>
    <h1>Reestablece tu Contraseña</h1>

    <form id="recover_password_form">

        <label for="email">Ingresa tu Correo</label>
        <input type="text" name="email" id="email">

        <label for="password">Ingresa la nueva contraseña</label>
        <input type="password" name="password">

        <input type="submit">

    </form>


</section>

<script src="/js/restorePassword.js"></script>